services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: notesdb
      POSTGRES_USER: notes
      POSTGRES_PASSWORD: notes
    ports:
      - "5432:5432"  # Dev DB Host-Port
    volumes:
      - db_dev_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      POSTGRES_DB: notesdb
      POSTGRES_USER: notes
      POSTGRES_PASSWORD: notes
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      NODE_ENV: development
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8000
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_dev_data:
